<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    "Greetings, \nI am reaching out to let you know that I have completed the challange.\nThank you for giving me this opportunity. I look foward to hearing from you.\nBest Wishes, \n 
      Sarah Sanger test"
  </body>
</html>
